.card{
    width: 18rem;
    margin: 10px;
}

.card-img-top{
    height: 200px;
}

svg {
    color: black;
    width: 30px;
    height: 25px;
    cursor: pointer;
} 

.create-link{
    margin: 30px;;
}